.event-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/public/images/event.jpg');
    background-size: cover;
    background-position: center;
}

.event-container{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    text-align: center;
    width: 95%;
    height: 95%;
    overflow-y: auto;
}

.comment-container{
    justify-content: start;
    margin-left: 5%;
    width: 90%;
}

.event-comments-container{
    background: white;
    display: flex;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 10px;
    align-items: center;
}

.event-comments-container img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
}

.comment-text{
    font-weight: normal;
}